.mainText {
  font-family: 'Lato', serif;
  font-size: 20px;
  font-weight: bold;
}

.sectionName {
  font-family: 'Lato', sans-serif;
  font-size: 12px; /* Adjust the size as needed */
  font-weight: 400; /* Normal weight */
  line-height: 1.6; 
}

.card {
  background-color: #FFFCD1;
  border-radius: 10px;
  padding: 5px;
  padding-top: 15px;
  text-align: center;
  height: 28vh; /* Reduce the height */
  margin: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Space between cards */
  margin: 20px;
}

.card img {
  max-height: 10vh; /* Increase image size */
  max-width: 10vh;
  align-self: center;
}

.plant-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
