.mainText {
  font-family: "FiraCode";
  font-size: 40px;
  font-weight: bold;
}

.sectionName {
  font-family: "FiraCode";
  font-size: 20px;
}

.card {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  height: 75vh;
  margin: 10px;
}

.card-container {
  margin: 20px;
}

.card img {
  max-height: 20vh;
  max-width: 20vh;
  align-self: center;
}
.flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
