.sectionName {
  font-family: "FiraCode";
  font-size: 20px;
}

.mainText {
  font-family: "FiraCode";
  font-size: 40px;
  font-weight: bold;
}

.smallText {
  font-family: "FiraCode";
  font-size: 32px;
  font-weight: normal;
}

.container {
  padding: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
}

.card {
  background-color: #dedede;
  border-radius: 8px;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  height: 75vh;
}

.card img {
  max-width: 100%;
  height: 20vh;
  border-radius: 4px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right-justify {
  justify-items: right;
}
