.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #333;
  margin: auto;
  background-image: url("../images/globe.png");
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #ffffff;
}
.plane {
  position: absolute;
  width: 50px; /* Adjust the size of the plane */
  height: auto;
  top: 125px; /* Move the plane down by 75px */
  right: 100px;
  animation: flyAroundCircle 10s linear 3 forwards;
  transform-origin: 50% 100%; /* Set the transform origin to the bottom center */
}

@keyframes flyAroundCircle {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg) translateX(170px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(170px);
    visibility: hidden;
  }
}
