@import "@fontsource/fira-mono";

@font-face {
  font-family: FiraCode;
  src: url(./static/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: FiraCode;
  src: url(./static/fonts/FiraCode-Bold.ttf);
  font-weight: bold;
}

.mission-text {
  padding-top: 8%;
  flex: 1;
  max-width: 75%;
  /* Limit the width to 75% of the container */
}

.mission-text h2 {
  font-size: 24px;
  margin: 0;
  font-family: FiraCode;
}

.mission-text p {
  font-size: 2em;
  font-family: FiraCode;
  font-weight: bold;
}

.mainPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.bgImage {
  background: url("./static/images/Vandy.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainText {
  font-family: "Lato";
  font-size: 40px;
  font-weight: bold;
}

.smallText {
  font-family: "Lato";
  font-size: 32px;
  font-weight: normal;
}

.smallerText {
  font-family: "Lato";
  font-size: 20px;
  font-weight: normal;
}
